<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Home", tasks_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item ">
            <a class="btn btn-link" href="<%= orders_path %>">Mis Tareas:<%= current_user.orders.where(completed: true).count%>/<%=Task.count%></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="">usuario:<%= current_user.email%></a>
          </li>
          <li class="nav-item active">
            <%= link_to "salir", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Ingresar", new_user_session_path, class: "btn btn-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "registrarse", new_user_registration_path, class: "btn btn-link" %>
          </li>
        <% end %>
    </ul>
  </div>
</nav>
<p></p>
